/* колір тексту (найбільше) + phone mail #434455  */
/* заголовки #2E2F42 */
/* h1 #FFFFFF */
/* order service + buttons portfolio #4D5AE5 */
/* hover buttons portfolio #404BBF */
/* footer text #E7E9FC */
/* footer logo #F4F4FD */

/* COLORS */

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --hover-focus-color: #404bbf;
  --accent-color: #e7e9fc;
  --buttons-bgc-color: rgba(77, 90, 229, 1);
  --lightmode-color: #f4f4fd;
  --hover-button-color: rgba(64, 75, 191, 1);
  --white: #ffffff;
  --black: #000000;
}
/* UTILITIES */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INDEX.HTML */

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}
/* LOGO */
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--buttons-bgc-color);
}

.logo-web {
  color: var(--title-text-color);
}

/* NAVIGATION */

.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--hover-focus-color);
}
.link.active {
  color: var(--buttons-bgc-color);
}

.nav {
  display: flex;
  margin-left: 76px;
}

.nav .item {
  margin-right: 40px;
}

.item:last-child {
  margin-right: 0;
}

.address-list {
  display: flex;
  margin-left: auto;
}

.contact {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--hover-focus-color);
}

.contacts {
  display: flex;
}

.contacts .item {
  margin-right: 40px;
}
.contacts .item:last-child {
  margin-right: 0;
}
/* HERO */
.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  background-color: var(--title-text-color);
}
.hero-title {
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white);
}

.button.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  background-color: var(--buttons-bgc-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero:hover,
.hero:focus {
  background-color: var(--hover-button-color);
}

.feature-list {
  display: flex;
  margin-top: 120px;
}

.feature-list .feature {
  margin-right: 24px;
  max-width: 264px;
  min-height: 104px;
}

.feature:last-child {
  margin-right: 0;
}
.feature-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.feature-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
/* WORK */

.activities {
  margin-top: 120px;
}

.activity-list {
  display: flex;
  margin-bottom: 120px;
}

.activity-image {
  margin-right: 24px;
}

.activity-image:last-child {
  margin-right: 0;
}

.work-title {
  margin-top: 0;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

/* TEAM */
.team {
  padding-bottom: 120px;

  background-color: var(--lightmode-color);
}

.team-list {
  display: flex;
}
.team-list .item {
  margin-right: 24px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin-right: 0;
}

.team-title {
  padding-top: 120px;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.name {
  margin-top: 32px;
  margin-bottom: 0;
  text-align: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.process {
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: center;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
/* FOOTER */
.footer {
  padding: 100px 0;

  background-color: var(--title-text-color);
}

.light {
  color: var(--lightmode-color);
}

.footer-description {
  width: 264px;
  height: 72px;
  padding-top: 16px;
  margin-top: 0;
  margin-bottom: 100px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* PORTFOLIO.HTML */
/* FILTER */

.button-filter {
  margin-right: 24px;
  padding: 12px 24px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  background-color: var(--lightmode-color);
  color: var(--buttons-bgc-color);
  border: 1px solid var(--accent-color);
}

.button-list {
  display: flex;
  margin-top: 96px;
  justify-content: center;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover-focus-color);
  color: var(--white);
}

/* EXAMPLES */

.example-list {
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
}

.example-list .item {
  margin-right: 24px;
  margin-bottom: 48px;

  border: 1px solid var(--accent-color);
}

.example-list .item:nth-child(3n + 3) {
  flex-wrap: wrap;
  margin-right: 0;
}
.example-title {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 16px;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.example-type {
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
